.bio__container {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .bio__content__container {
        width: 70vw;
        height: 500px;
        color: white;
        display: flex;
        // flex-wrap: wrap;

        .bio__left {
            width: 50%;
            height: 100%;

            .bio__picture {
                width: 80%;
                height: 500px;
                margin: 0 auto;
                background-image: url('../../assets/bartosik.jpg');
                background-size: cover;
                background-position: center;

                @media(max-width: 1100px) {
                    width: 80%;
                    height: 450px;
                }
                
                @media(max-width: 1100px) {
                    width: 280px;
                    height: 380px;
                    margin-top: 55px;
                }
            }

            @media(max-width: 700px) {
                width: 100%;
                height: auto;
            }
        }

        .bio__right {
            width: 50%;
            height: 100%;

            .bio__title {
                //margin-top: 40px;
                text-align: center;
                text-transform: uppercase;
                font-size: 23px;
                letter-spacing: 3px;

                @media(max-width: 1100px) {
                    //margin-top: 10px;
                    font-size: 22px;
                    letter-spacing: 2;
                }

                @media(max-width: 1100px) {
                    margin-top: 10px;
                    font-size: 22px;
                    letter-spacing: 2;
                }
            }
    
            .bio__text__holder {
                width: 90%;
                margin: 20px auto 0;
    
                @media(max-width: 375px) {
                    width: 90%;
                    margin-top: 5px auto;
                }
                
                p {
                    font-size: 19px;
                    text-align: justify;
                    letter-spacing: 3px;
                    line-height: 26px;
                    text-indent: 30px;

                    @media(max-width: 1150px) {
                        font-size: 17px;
                        line-height: 25px;
                        letter-spacing: 2px;
                    }
    
                    @media(max-width: 375px) {
                        font-size: 15px;
                        line-height: 20px;
                        letter-spacing: 3px;
                    }
                }

                .email__bio {
                    padding-top: 20px;
                    letter-spacing: 1px;
                    font-size: 28px;
            
                    @media(max-width: 1000px) {
                        font-size: 24px;
                    }

                    @media(max-width: 600px) {
                        font-size: 22px;
                        padding-top: 10px;
                    }
                }
            }

            @media(max-width: 700px) {
                width: 100%;
                height: auto;
            }
        }

        @media(max-width: 1100px) {
            width: 90%;
        }

        @media(max-width: 700px) {
            width: 100%;
            max-height: 100%;
            overflow-y: scroll;
            flex-direction: column;
        }
    }

    @media(max-width: 700px) {
        width: 100%;
        height: auto;
    }
}

.pic__background {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bio-pic {
    background-image: url('../../assets/biot.jpg');
}