footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 2;
    //font-family: 'Open Sans', sans-serif;

    .icons__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        

        .footer__icon__container {
            width: 40px;
            height: 40px;
        }

        .vimeo {
            background-image: url("../../assets/vimoe-new.png");
            background-size: cover;
            z-index: 100;
        }

        .face {
            background-image: url("../../assets/facebook-new.png");
            background-size: cover;
            z-index: 100;
            position: relative;
            bottom: 2px;
        }

        .insta {
            background-image: url("../../assets/instagram-new.png");
            background-size: cover;
        }
    }

    .bio__text {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 1px 3px;
        //background-color: $color-mainblue;
    }
}