.movies__container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    padding-top: 150px;
    overflow-y: auto;

    .movies__box {
        height: auto;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .movie__display {
            height: 250px;
            width: 250px;
            margin: 0 20px 40px 20px;
            //background-color: $color-mainblue;
            background-image: url('../../assets/telko.png');
            background-size: cover;
        }

        @media (max-width: 730px) {
            width: 100%;
        }
    }

    @media (max-width: 510px) {
        padding-top: 100px;
    }
}