.nmovies__container {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .nmovies__box {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        color: white;

        .nmovie__box {
            width: 250px;
            height: auto;

            .nmovie__display {
                background-size: cover;
                background-position: center;
                width: 222px;
                height: 222px;
                margin: 14px auto 13px;

                // @media (max-width: 1300px) {
                //     height: 200px;
                //     width: 200px;
                // }

                // @media (max-width: 1150px) {
                //     height: 300px;
                //     width: 350px;
                // }

                // @media (max-width: 736px) {
                //     height: 280px;
                //     width: 280px;
                // }

                // @media (max-width: 1200px) {
                //     height: 230px;
                //     width: 230px;
                // }

                // @media (max-width: 1000px) {
                //     height: 400px;
                //     width: 100%;
                // }

                // @media (max-width: 700px) {
                //     height: 300px;
                // }
            }

            .nachgdyby {
                background-image: url('../../assets/Ach2.png');
            }
    
            .negzul {
                background-image: url('../../assets/Egzul2.png');
            }

            .nflowfol {
                background-image: url('../../assets/floofwall2.png');
            }

            .nzaba {
                background-image: url('../../assets/zaba2.png');
            }

            .nsciezki {
                background-image: url('../../assets/sciezki2.png');
            }

            .nkulki {
                background-image: url('../../assets/kulki.png');
            }

            .nflagi {
                background-image: url('../../assets/flagi.png');
            }

            .nznikam {
                background-image: url('../../assets/znikam.png');
            }

            .nsamoloty {
                background-image: url('../../assets/samoloty.png');
            }

            .ndomw {
                background-image: url('../../assets/asia.png');
            }

            .nmovie__title__box {
                width: 90%;
                margin: 0 auto;
                font-size: 24px;
                text-align: center;
                text-transform: uppercase;

            //     @media (max-width: 1300px) {
            //         font-size: 20px;
            //     }
            // }

            

            // @media (max-width: 1300px) {
            //     width: 230px;
            // }

            // @media (max-width: 1150px) {
            //     width: 400px;
            //     margin-bottom: 70px;
            //     position: relative;
            //     top: 480px;
            // }

            // @media (max-width: 736px) {
            //     width: 400px;
            //     margin-bottom: 40px;
            //     position: relative;
            //     top: 560px;
            // }
            }
        }

        // @media (max-width: 1200px) {
        //     width: 100%;
        // }

        // @media (max-width: 1150px) {
        //     height: 800px;
        //     overflow-y: scroll;
        //     flex-direction: column;
        //     justify-content: center;
        //     align-items: center;
        //     padding-top: 400px;
        // }

        // @media (max-width: 736px) {
        //     height: 400px;
        //     padding-top: 420px;
        //     overflow-x: hidden;
        // }
    }

    // @media (max-width: 1150px) {
    //     width: 100%;
    //     height: auto;
    // }
}

.nmovie__backgorund_black {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.ntower {
    background-image: url('../../assets/filmt.jpg');
}

.lefty {
    cursor: pointer;
    position: absolute;
    top: 49.5%;
    left: 20px;
    height: 50px;
    width: 50px;
    transform: translateY(-50%);
    background-image: url('../../assets/899.png');
    background-size: contain;
}

.righty {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 20px;
    height: 50px;
    width: 50px;
    transform: translateY(-50%);
    background-image: url('../../assets/890.png');
    background-size: contain;
}