.paint__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .slide {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
    }

    .left__arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50px;
        height: 50px;
        width: 50px;
        transform: translateY(-50%);
        background-image: url('../../assets/lewa.png');
        background-size: contain;
      }
    
      .right__arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 50px;
        height: 50px;
        width: 50px;
        transform: translateY(-50%);
        background-image: url('../../assets/prawa.png');
        background-size: contain;
      }
}
