.player__holder {
  color: white;

  .player-wrapper {
    position: relative;
    padding-top: 56.25% 
  }
     
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .react-player video {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
  }

  .player__film__title {
    padding: 5px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
  }

  .pol__desc {
    text-align: center;
    margin-bottom: 10px;
  }

  .eng__desc {
    text-align: center;
  }

  .back__arrow {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-image: url('../../assets/899.png');
    background-size: contain;
    background-position: center;
    cursor: pointer;
  }
}