.player-wrapper {
  position: relative;
  padding-top: 56.25% 
}
   
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.react-player video {
  position: relative;
  left: 0;
  top: 0;
  transform: none;
}