@import './variables.scss';
@import './components/navbar.scss';
@import './components/main.scss';
@import './components/footer.scss';
@import './components/movie.scss';
@import './components/newmovie.scss';
@import './components/paint.scss';
@import './components/backdrop.scss';
@import './components/hamburger.scss';
@import './components/sidemenu.scss';
@import './components/film';
@import './components/reactplayer.scss';
@import './components/biocontact.scss';
@import './components/slick-theme.scss';
@import './components/slick.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    background-color: black;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
